<div ng-controller="questionsCtrl">
    <main class="container">
        <ul class="nav nav-pills nav-fill mt-3">
            <li class="nav-item">
                <a class="nav-link ng-class:{'active': sortType == 'creation'}"
                   ng-click="!fetchingQuestions && changeSorting('creation')">Latest Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ng-class:{'active': sortType == 'votes'}"
                   ng-click="!fetchingQuestions && changeSorting('votes')">Top Voted Questions</a>
            </li>
        </ul>
        <div class="loading-overlay text-center">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="my-3 p-3 bg-dark rounded box-shadow main-body">
            <h6 class="pb-2 mb-0 border-bottom border-light">Questions</h6>
            <div class="media mt-2 question"
                 ng-repeat="question in questions"
                 ng-init="showQuestionBody = false; showAnswers = false; showQuestionButtonClicked = false;showAnswerButtonClicked = false">
                <div>
                    <img alt="32x32"
                     onerror="this.src='/static/images/default_profile_image.png';"
                     class="mr-4 rounded" style="width: 32px; height: 32px;"
                     ng-src="{{ question.owner.profile_image }}"
                     data-holder-rendered="true">
                    <div class="question-paradata pt-1 pl-0 text-center" ng-style="showQuestionBody && {'opacity': '1', 'display': 'block'}">
                        <div class="paradata mt-1">{{ question.answer_count }}</div>
                        <div class="paradata mb-2">answer{{ question.score == 1 ? '' : 's' }}</div>
                        <div class="paradata">{{ question.score }}</div>
                        <div class="paradata mb-1">score{{ question.score == 1 ? '' : 's' }}</div>
                    </div>
                </div>

                <div class="media-body pb-2 small">
                    <div data-toggle="collapse" data-target="#question-{{ question.question_id }}"
                         aria-expanded="false" aria-controls="question-{{ question.question_id }}"
                         ng-click="showQuestionBody = !showQuestionBody;showQuestionButtonClicked = true"
                         class="mt-0 question-title d-inline-block ng-class:{'opened': showQuestionBody}">{{ question.title }}</div>

                    <!--<div id="question-{{ question.question_id }}" ng-style="showQuestionBody && {'opacity': '1'}" class="question-body">-->
                    <div id="question-{{ question.question_id }}"
                         ng-if="showQuestionButtonClicked">
                        <div class="media-body-html" ng-bind-html="question.body | trustHTML"></div>

                        <button type="button"
                                ng-show="question.answer_count > 0"
                                ng-click="showAnswerButtonClicked = true;showAnswers = !showAnswers"
                                data-toggle="collapse" data-target="#answers-{{ question.question_id }}"
                                aria-expanded="false" aria-controls="answers-{{ question.question_id }}"
                                class="btn btn-outline-success mt-3 border-0">
                            {{ showAnswers ? 'Hide answers' : 'Show answers' }}
                        </button>
                        <button ng-show="question.answer_count == 0"
                                type="button" class="btn btn-outline-success mt-3 border-0">No answers
                        </button>
                        <div id="answers-{{ question.question_id }}" ng-show="showAnswerButtonClicked">
                            <div class="media mt-3 answer" ng-repeat="answer in question.answers | orderBy: 'score' | orderBy: '-is_accepted'">
                                <a href="#">
                                    <img alt="32x32"
                                         class="mr-2 rounded" style="width: 32px; height: 32px;"
                                         ng-src="{{ answer.owner.profile_image }}"
                                         data-holder-rendered="true">
                                </a>
                                <div class="media-body pb-2 ">
                                    <div class="media-body-html" ng-bind-html="answer.body | trustHTML"></div>
                                    <div class="media mt-3 comment" ng-repeat="comment in answer.comments">
                                        <a href="#">
                                            <img alt="32x32"
                                                 class="mr-2 rounded" style="width: 32px; height: 32px;"
                                                 ng-src="{{ comment.owner.profile_image }}"
                                                 data-holder-rendered="true">
                                        </a>
                                        <div class="media-body pb-2 ">
                                            <div class="media-body-html" ng-bind-html="comment.body | trustHTML"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>

</div>