<div ng-controller="questionsCtrl">
    <main class="container">
        <div ng-init="more = false">
            <ul class="nav nav-pills nav-fill mt-3">
                <li class="nav-item">
                    <a class="nav-link ng-class:{'active': sortType == 'creation'}"
                       ng-click="!fetchingQuestions && changeSorting('creation')">Latest Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ng-class:{'active': sortType == 'votes'}"
                       ng-click="!fetchingQuestions && changeSorting('votes')">Top Voted Questions</a>
                </li>
            </ul>
            <div ng-init="moreIsClicked=false">
                <button ng-click="more = !more; moreIsClicked = true" class="mt-1 btn btn-link"
                        data-toggle="collapse" data-target="#more-options"
                        aria-expanded="false" aria-controls="more-options">
                    {{ more ? 'less' : 'more options' }}</button>
                <div ng-if="moreIsClicked">
                    <div id="more-options" class="card border-primary mb-3">
                        <div class="card-body p-3">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tags">more tags</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#paging">paging</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade show active" id="tags">
                                    <div class="form-group mt-1">
                                        <div class="form-group">
                                            <label class="control-label">Add more tags: <small>(separated by semicolon)</small></label>
                                            <div class="form-group mt-1">
                                                <div class="input-group mb-3" ng-init="moreTagsValue=''">
                                                    <div class="input-group-prepend" ng-click="applyTags(moreTagsValue)">
                                                        <button class="input-group-text">Apply</button>
                                                    </div>
                                                    <input type="text" class="form-control"
                                                           ng-model="moreTagsValue"
                                                           placeholder="example: java;firebase"
                                                           aria-label="more tags">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="paging">
                                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
                                        squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes
                                        anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
                                        letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                                        cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus
                                        mollit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="loading-overlay text-center">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="my-2 p-3 bg-dark rounded box-shadow main-body">
            <h6 class="pb-2 mb-0 border-bottom border-light">Questions</h6>
            <div class="media mt-2 question"
                 ng-repeat="question in questions"
                 ng-init="showQuestionBody = false; showAnswers = false; showQuestionButtonClicked = false;showAnswerButtonClicked = false">
                <div>
                    <img alt="32x32"
                         onerror="this.src='/static/images/default_profile_image.png';"
                         class="mr-4 rounded" style="width: 32px; height: 32px;"
                         ng-src="{{ question.owner.profile_image }}"
                         data-holder-rendered="true">
                    <div class="question-paradata pt-1 pl-0 text-center"
                         ng-style="showQuestionBody && {'opacity': '1', 'display': 'block'}">
                        <div class="paradata mt-1">{{ question.answer_count }}</div>
                        <div class="paradata mb-2">answer{{ question.score == 1 ? '' : 's' }}</div>
                        <div class="paradata">{{ question.score }}</div>
                        <div class="paradata mb-3">score{{ question.score == 1 ? '' : 's' }}</div>

                    </div>
                </div>

                <div class="media-body pb-2 small">
                    <div data-toggle="collapse" data-target="#question-{{ question.question_id }}"
                         aria-expanded="false" aria-controls="question-{{ question.question_id }}"
                         ng-click="showQuestionBody = !showQuestionBody;showQuestionButtonClicked = true"
                         class="mt-0 question-title d-inline-block ng-class:{'opened': showQuestionBody}">{{ question.title }}</div>


                    <!--<div id="question-{{ question.question_id }}" ng-style="showQuestionBody && {'opacity': '1'}" class="question-body">-->
                    <div id="question-{{ question.question_id }}"
                         ng-if="showQuestionButtonClicked" class="question-body">

                        <div class="badge mr-1 ng-class:{'badge-primary': tag != 'android', 'badge-danger': tag == 'android'}"
                             ng-repeat="tag in question.tags">{{ tag }}</div>
                        <a target="_blank" ng-href="{{ question.link }}">question link</a>

                        <div class="media-body-html" ng-bind-html="question.body | trustHTML"></div>

                        <button type="button"
                                ng-show="question.answer_count > 0"
                                ng-click="showAnswerButtonClicked = true;showAnswers = !showAnswers"
                                data-toggle="collapse" data-target="#answers-{{ question.question_id }}"
                                aria-expanded="false" aria-controls="answers-{{ question.question_id }}"
                                class="btn mt-3 border-0 ng-class:{'btn-outline-primary': question.answer_count == 0, 'btn-outline-success': question.answer_count > 0}">
                            {{ showAnswers ? 'Hide answers' : 'Show answers' }}
                        </button>
                        <button ng-show="question.answer_count == 0"
                                type="button" class="btn btn-outline-primary mt-3 border-0">No answers
                        </button>
                        <button type="button"
                                ng-click="$parent.showQuestionBody = !$parent.showQuestionBody"
                                data-toggle="collapse" data-target="#question-{{ question.question_id }}"
                                aria-expanded="false" aria-controls="question-{{ question.question_id }}"
                                class="btn btn-outline-primary mt-3 border-0">
                            Close Question
                        </button>

                        <div id="answers-{{ question.question_id }}" ng-show="showAnswerButtonClicked">
                            <div class="media mt-3 answer"
                                 ng-repeat="answer in question.answers | orderBy: 'score' | orderBy: '-is_accepted'">
                                <a href="#">
                                    <img alt="32x32"
                                         class="mr-2 rounded" style="width: 32px; height: 32px;"
                                         ng-src="{{ answer.owner.profile_image }}"
                                         data-holder-rendered="true">
                                </a>
                                <div class="media-body pb-2 ">
                                    <div class="media-body-html" ng-bind-html="answer.body | trustHTML"></div>
                                    <div class="media mt-1 comment" ng-repeat="comment in answer.comments">
                                        <a href="#">
                                            <img alt="32x32"
                                                 class="mr-2 rounded" style="width: 32px; height: 32px;"
                                                 ng-src="{{ comment.owner.profile_image }}"
                                                 data-holder-rendered="true">
                                        </a>
                                        <div class="media-body pb-2 ">
                                            <div class="media-body-html" ng-bind-html="comment.body | trustHTML"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button"
                                    ng-click="$parent.showQuestionBody = !$parent.showQuestionBody"
                                    data-toggle="collapse" data-target="#question-{{ question.question_id }}"
                                    aria-expanded="false" aria-controls="question-{{ question.question_id }}"
                                    class="btn btn-outline-primary mt-3 border-0">
                                Close Question
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>

</div>