{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="Stackoverdroid" ng-controller="stackoverdroidCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <title>Stack-Over-Droid</title>
    <link rel="stylesheet" href="{% static 'css/darkly/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'angularjs-datepicker/dist/angular-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">


</head>
<body>
<div>
    <div ui-view></div>
</div>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'angular/angular.min.js' %}" ></script>
<script src="{% static '@uirouter/angularjs/release/angular-ui-router.min.js' %}" ></script>
<script src="{% static 'angularjs-datepicker/dist/angular-datepicker.min.js' %}" ></script>

<!-- Modules, Controllers, Services -->
<script src="{% static 'modules/stackoverdroid/stackoverdroidApp.js' %}" ></script>
<script src="{% static 'modules/stackoverdroid/controllers/stackoverdroidCtrl.js' %}" ></script>
<script src="{% static 'modules/stackoverdroid/controllers/questionsCtrl.js' %}" ></script>
<script src="{% static 'modules/stackoverdroid/services/httpRequest.js' %}" ></script>


</body>
</html>